<!DOCTYPE html>
<html>

<head>
    <style>
        .heart-kr {
            width: 100px;
            height: 100px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
            background-position: 0 0;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="heart-kr" id="heart-kr"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let heartDiv = document.getElementById('heart-kr');
            let isFilled = false;

            heartDiv.addEventListener('click', function () {
                isFilled = !isFilled;
                animateHeart(isFilled);
            });

            function animateHeart(isFilled) {
                let totalFrames = 28;
                let frames = Math.floor(totalFrames / 2); // Half of total frames
                let interval = 1000 / frames;

                let currentFrame = 0;
                let position = isFilled ? -currentFrame * 100 : 0;

                let animation = setInterval(function () {
                    heartDiv.style.backgroundPosition = `${position}px 0`;
                    currentFrame++;

                    if (currentFrame >= frames) {
                        clearInterval(animation);
                    }

                    position = isFilled ? -currentFrame * 100 : 0;
                }, interval);
            }
        });
    </script>
</body>

</html>