<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../asset/css/style.css">
    <link rel="stylesheet" href="../../asset/css/font.css">
    <title>Document</title>
</head>

<body>


    <!-- dashboard -->
    <section class="dashboard">

        <div class="container-dashboard">
            <div class="card-dashboard">
                <a href="../view html/profil.html">
                    <div class="img-dashboard">
                        <img src="../asset/media/icon/user.svg" alt="compte">
                    </div>
                    <div class="content-dashboard">
                        <div class="title">
                            <p>compte</p>
                        </div>
                        <p class="p-card-dashboard">vos informations personnelles Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Aspernatur officiis</p>
                    </div>
                </a>
            </div>
            <div class="card-dashboard">
                <a href="../view/favoris.html">
                    <div class="img-dashboard">
                        <img src="../asset/media/icon/coeur.svg" alt="compte">

                    </div>
                    <div class="content-dashboard">
                        <div class="title">
                            <p>Favoris</p>
                        </div>
                        <p class="p-card-dashboard">vos information personnelle Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Aspernatur officiis</p>
                    </div>
                </a>
            </div>
            <div class="card-dashboard">
                <a href="../view/rental.html">
                    <div class="img-dashboard">
                        <img src="../asset/media/icon/messenger.svg" alt="compte">

                    </div>
                    <div class="content-dashboard">
                        <div class="title">
                            <p>reservation</p>
                        </div>
                        <p class="p-card-dashboard">vos information personnelle Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Aspernatur officiis</p>
                    </div>
                </a>
            </div>
            <div class="card-dashboard">
                <a href="#">
                    <div class="img-dashboard">
                        <img src="../asset/media/icon/user.svg" alt="compte">

                    </div>
                    <div class="content-dashboard">
                        <div class="title">
                            <p>compte</p>
                        </div>
                        <p class="p-card-dashboard">vos information personnelle Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Aspernatur officiis</p>
                    </div>
                </a>
            </div>
            <div class="card-dashboard">
                <a href="#">
                    <div class="img-dashboard">
                        <img src="../asset/media/icon/messenger.svg" alt="compte">


                    </div>
                    <div class="content-dashboard">
                        <div class="title">
                            <p>compte</p>
                        </div>
                        <p class="p-card-dashboard">vos information personnelle Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Aspernatur officiis</p>
                    </div>
                </a>
            </div>
            <div class="card-dashboard">
                <a href="">
                    <div class="img-dashboard">
                        <img src="../asset/media/icon/coeur.svg" alt="compte">

                    </div>
                    <div class="content-dashboard">
                        <div class="title">
                            <p>compte</p>
                        </div>
                        <p class="p-card-dashboard">vos information personnelle Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Aspernatur officiis</p>
                    </div>
                </a>
            </div>
        </div>

    </section>

    <footer>
        <div class="footer-container">
            <div class="footer-limit-size">
                <div class="footer-container-help">
                    <div class="logo-footer">
                        <span><a href="#" class="footer-logo-span">2023 GiteFinder, Inc</a></span>
                    </div>
                    <!-- newsletter -->
                    <div class="container-newsletter">
                        <form action="" id="form-newsletter">
                            <label for="newsletter" id="label-newsletter">Newsletter</label>
                            <input type="text" id="input-newsletter">
                            <button type="submit" id="footer-submit-button">envoyer</button>
                        </form>
                    </div>

                    <span class="footer-span-ol">
                        <ol>
                            <li class="footer-li"><a href="#">Confidentialité</a></li>
                            <li class="footer-li"><a href="#">Conditions générales</a>
                            </li>
                            <li class="footer-li"><a href="#">Infos sur l'entreprise</a></li>
                        </ol>
                    </span>
                </div>

                <div class="container-footer-language-devise-help">

                    <div class="footer-button">
                        <span class="footer-button-span"> Francais</span>
                        <div class="footer-button">
                            <span class="footer-button-span">€</span>
                            <span class="footer-button-span">EUR</span>
                        </div>
                    </div>

                    <div class="footer-button-asistance" id="openModalButton">
                        <span class="footer-button-span">Assistance et ressources</span>
                        <img class="footer-img" src="../asset/media/icon/hate.svg" alt="hat">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-mobile">
            <div class="mobile-footer-explore">
                <img src="../asset/media/icon/magnifying-glass-solid.svg" alt="" class="footer-img">
                <P class="txt-footer">Explorer</P>
            </div>
            <div class="mobile-footer-favoris">
                <img src="../asset/media/icon/coeur (1).png" alt="Favoris" class="footer-img">
                <P class="txt-footer">Favoris</P>
            </div>
            <div class="mobile-footer-user">
                <img src="../asset/media/icon/user-solid.svg" alt="" class="footer-user">
                <p class="txt-footer">Connection</p>
            </div>
        </div>

        <!-- <button id="openModalButton">Ouvrir la modal</button> -->

        <div id="modal" class="modal">

            <div class="modal-content">
                <img class="close-footer" src="../asset/media/icon/x-solid.svg" alt="close">
                <div class="footer-modal-ul">
                    <ul class="link-list">
                        <h3><a href="#">Assistance</a></h3>
                        <li><a href="#">Centre d'aide</a></li>
                        <li><a href="#">AirCover</a></li>
                        <li><a href="#">Soutenir les personnes en situation de handicap</a></li>
                        <li><a href="#">Options d'annulation</a></li>
                        <li><a href="#">Nos mesures face au Covid-19</a></li>
                        <li><a href="#">Signaler un problème de voisinage</a></li>
                    </ul>
                </div>
                <ul class="link-list">
                    <li><a href="#">Communauté</a></li>
                    <li><a href="#">Airbnb.org : réponse aux catastrophes</a></li>
                    <li><a href="#">Lutte contre la discrimination</a></li>
                </ul>
                <ul class="link-list">
                    <li><a href="#">Accueil de voyageurs</a></li>
                    <li><a href="#">Mettez votre logement sur Airbnb</a></li>
                    <li><a href="#">AirCover pour les hôtes</a></li>
                    <li><a href="#">Ressources pour les hôtes</a></li>
                    <li><a href="#">Forum de la communauté</a></li>
                    <li><a href="#">Accueillir de manière responsable</a></li>
                </ul>
                <ul class="link-list">
                    <li><a href="#">GiteFinder</a></li>
                    <li><a href="#">Newsroom</a></li>
                    <li><a href="#">En savoir plus sur les nouveautés</a></li>
                    <li><a href="#">Lettre de nos fondateurs</a></li>
                    <li><a href="#">Carrières</a></li>
                    <li><a href="#">Investisseurs</a></li>
                    <li><a href="#">Cartes cadeaux</a></li>
                </ul>
            </div>
        </div>


    </footer>
</body>

</html>