{% extends "template.html.twig" %}

{% block title %}{% endblock %}


{% block header %}
	{% include 'header.html.twig' with {'categories' : cats } %}
{% endblock %}


{% block content %}

	<section>
		<h2>Page introuvable<br>
		Erreur 404</h2>
	</section>

{% endblock %}
