{% extends "template.html.twig" %}

{% block title %}Dashboard
{% endblock %}


{% block header %}
	{% include 'header.html.twig' with {'categories' : cats } %}
{% endblock %}

{% block content %}

	<section class="dashboard">

		<div class="container-dashboard">
			<div class="card-dashboard">
				<a href="">
					<div class="img-dashboard">
						<img src="./asset/media/images/user.svg" alt="compte">
					</div>
					<div class="content-dashboard">
						<div class="title">
							<p>compte</p>
						</div>
						<p class="p-card-dashboard">vos informations personnelles Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur officiis</p>
					</div>
				</a>
			</div>
			<div class="card-dashboard">
				<a href="">
					<div class="img-dashboard">
						<img src="./asset/media/images/coeur.svg" alt="compte">

					</div>
					<div class="content-dashboard">
						<div class="title">
							<p>compte</p>
						</div>
						<p class="p-card-dashboard">vos information personnelle Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur officiis</p>
					</div>
				</a>
			</div>
			<div class="card-dashboard">
				<a href="#">
					<div class="img-dashboard">
						<img src="./asset/media/images/messenger.svg" alt="compte">

					</div>
					<div class="content-dashboard">
						<div class="title">
							<p>compte</p>
						</div>
						<p class="p-card-dashboard">vos information personnelle Lorem ipsum dolor sit amet consectetur
																																																																																																																																																																																																																																																																																																																																																																																																																																									                            adipisicing elit. Aspernatur officiis</p>
					</div>
				</a>
			</div>
			<div class="card-dashboard">
				<a href="#">
					<div class="img-dashboard">
						<img src="./asset/media/images/user.svg" alt="compte">

					</div>
					<div class="content-dashboard">
						<div class="title">
							<p>compte</p>
						</div>
						<p class="p-card-dashboard">vos information personnelle Lorem ipsum dolor sit amet consectetur
																																																																																																																																																																																																																																																																																																																																																																																																																																									                            adipisicing elit. Aspernatur officiis</p>
					</div>
				</a>
			</div>
			<div class="card-dashboard">
				<a href="#">
					<div class="img-dashboard">
						<img src="./asset/media/images/messenger.svg" alt="compte">


					</div>
					<div class="content-dashboard">
						<div class="title">
							<p>compte</p>
						</div>
						<p class="p-card-dashboard">vos information personnelle Lorem ipsum dolor sit amet consectetur
																																																																																																																																																																																																																																																																																																																																																																																																																																									                            adipisicing elit. Aspernatur officiis</p>
					</div>
				</a>
			</div>
			<div class="card-dashboard">
				<a href="">
					<div class="img-dashboard">
						<img src="./asset/media/images/coeur.svg" alt="compte">

					</div>
					<div class="content-dashboard">
						<div class="title">
							<p>compte</p>
						</div>
						<p class="p-card-dashboard">vos information personnelle Lorem ipsum dolor sit amet consectetur
																																																																																																																																																																																																																																																																																																																																																																																																																																									                            adipisicing elit. Aspernatur officiis</p>
					</div>
				</a>
			</div>
		</div>

	</section>
{% endblock %}
