{% extends "template.html.twig" %}

{% block title %}
	filter
{% endblock %}


{% block filters %}

	<!-- filter -->
	<section class="filter">
		<div class="container-btn-filter">
			<div class="btn-right">
				<button class="btn-right">
					<img src="{{ asset('/media/icon/circle_chevron_left_icon_199382.png')}}" alt="tourner à gauche">
				</button>
			</div>
			<div class="container-filter">
				<div class="img-title">
					<div class="img-filter">
						<img src="{{ asset('/media/icon/facebook.svg')}}" alt="">
					</div>
					<div class="title">
						<span>hello</span>
					</div>
				</div>


			</div>
			<div class="btn-left">
				<button class="btn-left">
					<img src="{{ asset('/media/icon/circle_chevron_right_icon_199381.png')}}" alt="tourner à droite">
				</button>
			</div>
		</div>
	</section>

{% endblock %}
