<footer class="limit-size">
    <div id="nav-footer">
        <ul>
            <li><a href="{{ register }}">Register</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Affiliate</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </div>

    <div id="socials-footer">
        <a href="#"><img src="{{ asset('/media/icons/insta-svg.svg') }}" alt="Instagram"></a>
        <a href="#"><img src="{{ asset('/media/icons/facebook-svg.svg') }}" alt="Facebook"></a>
        <a href="#"><img src="{{ asset('/media/icons/twitter-svg.svg') }}" alt="Twitter"></a>
    </div>

    <p>© 2021. Foodera. All rights reserved.</p>
</footer>