<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../asset/css/style.css">
    <link rel="stylesheet" href="../asset/css/font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

</head>

<body>
    <!-- header -->
    <header>
        <div class="header-limit-size">
            <div class="logo">
                <a href="">
                    <h1>GiteFinder</h1>
                </a>
            </div>
            <div class="button-search">
                <img src="../asset/media/icon/magnifying-glass-solid.svg" alt="Search in GiteFinder">
            </div>
            <!-- search bar -->
            <form action="#" method="post" class="search-bar-form">
                <div class="search-bar ">

                    <input type=" text" id="location-input" placeholder="Location">
                    <div class="date-inputs">
                        <input type="text" name="dateArrivee" id="dateArrivee" placeholder="Date d'arrivée" required />
                        <input type="text" name="dateDepart" id="dateDepart" placeholder="Date de départ" required />
                        <div id="calendar"></div>

                    </div>

                    <select id="guests-input">
                        <option value="1">1 Personne</option>
                        <option value="2">2 Personnes</option>
                        <option value="3">3 Personnes</option>
                        <option value="4">4 Personnes</option>
                        <option value="5">5 Personnes</option>
                        <option value="6">6 Personnes</option>
                        <option value="7">7 Personnes</option>
                        <option value="8">8 Personnes</option>
                    </select>
                    <button type="submit" id="search-button">Search</button>

                </div>
            </form>

            <div class="menu-burger-header">
                <a href="#">
                    <img class="img-burger" src="../asset/media/icon/bars-solid.svg" alt="Connexion et inscription">
                    <img class="img-burger border-user" src="../asset/media/icon/user-solid.svg" alt="menu burger">
                </a>
            </div>
        </div>
    </header>

    <section class="messenger ">
        <!-- fil d'ariane  breadcrumb -->
        <nav class="breadcrumb" aria-label="breadcrumb">
            <ol class="ol-breadcrumb">
                <li class="breadcrumb-item"><a href="../view/dashboard.html">Dashboard</a></li>
                <img src="../asset/media/icon/fleche.svg" alt="fleche">
                <li class="breadcrumb-item active" aria-current="page">Favoris</li>
            </ol>
        </nav>
        <div class="container-messenger">

            <!-- search and contact -->
            <div class="search-message-contact">
                <div class="search">
                    <div class="icon-search">
                        <img src="../asset/media/icon/magnifying-glass-solid.svg" alt="icon search">
                    </div>
                    <div class="input-search">
                        <input type="search" name="search" id="search" placeholder="Search in Messages">
                    </div>
                    <div class="icon-search">
                        <img src="../asset/media/icon/search-fleche.svg" alt="fleche search">
                    </div>

                </div>
                <!-- message with contact -->
                <div class="card-message">
                    <div class="picture-username">
                        <div class="picture-message">
                            <img class="avatar" src="../asset/media/images/boatkarim.png" alt="">
                        </div>
                        <div class="username">
                            <span>Ina Perry</span>
                        </div>
                    </div>
                    <div class="online-time">
                        <div class="stat-time">
                            <div class="status"></div>
                            <span class="time">12:20</span>
                        </div>
                    </div>
                </div>
                <div class="card-message">
                    <div class="picture-username">
                        <div class="picture-message">
                            <img class="avatar" src="../asset/media/images/boatkarim.png" alt="">
                        </div>
                        <div class="username">
                            <span>Ina Perry</span>
                        </div>
                    </div>
                    <div class="online-time">
                        <div class="stat-time">
                            <div class="status"></div>
                            <span class="time">12:20</span>
                        </div>
                    </div>
                </div>
                <div class="card-message">
                    <div class="picture-username">
                        <div class="picture-message">
                            <img class="avatar" src="../asset/media/images/boatkarim.png" alt="">
                        </div>
                        <div class="username">
                            <span>Ina Perry</span>
                        </div>
                    </div>
                    <div class="online-time">
                        <div class="stat-time">
                            <div class="status"></div>
                            <span class="time">12:20</span>
                        </div>
                    </div>
                </div>
                <div class="card-message">
                    <div class="picture-username">
                        <div class="picture-message">
                            <img class="avatar" src="../asset/media/images/boatkarim.png" alt="">
                        </div>
                        <div class="username">
                            <span>Ina Perry</span>
                        </div>
                    </div>
                    <div class="online-time">
                        <div class="stat-time">
                            <div class="status"></div>
                            <span class="time">12:20</span>
                        </div>
                    </div>
                </div>
                <div class="card-message">
                    <div class="picture-username">
                        <div class="picture-message">
                            <img class="avatar" src="../asset/media/images/boatkarim.png" alt="">
                        </div>
                        <div class="username">
                            <span>Ina Perry</span>
                        </div>
                    </div>
                    <div class="online-time">
                        <div class="stat-time">
                            <div class="status"></div>
                            <span class="time">12:20</span>
                        </div>
                    </div>
                </div>
                <div class="card-message">
                    <div class="picture-username">
                        <div class="picture-message">
                            <img class="avatar" src="../asset/media/images/boatkarim.png" alt="">
                        </div>
                        <div class="username">
                            <span>Ina Perry</span>
                        </div>
                    </div>
                    <div class="online-time">
                        <div class="stat-time">
                            <div class="online"></div>
                            <span class="time">12:20</span>
                        </div>
                    </div>
                </div>
                <div class="card-message">
                    <div class="picture-username">
                        <div class="picture-message">
                            <img class="avatar" src="../asset/media/images/boatkarim.png" alt="">
                        </div>
                        <div class="username">
                            <span>Ina Perry</span>
                        </div>
                    </div>
                    <div class="online-time">
                        <div class="stat-time">
                            <div class="status"></div>
                            <span class="time">12:20</span>
                        </div>
                    </div>
                </div>
                <div class="card-message">
                    <div class="picture-username">
                        <div class="picture-message">
                            <img class="avatar" src="../asset/media/images/boatkarim.png" alt="">
                        </div>
                        <div class="username">
                            <span>Ina Perry</span>
                        </div>
                    </div>
                    <div class="online-time">
                        <div class="stat-time">
                            <div class="status"></div>
                            <span class="time">12:20</span>
                        </div>
                    </div>
                </div>
                <div class="card-message">
                    <div class="picture-username">
                        <div class="picture-message">
                            <img class="avatar" src="../asset/media/images/boatkarim.png" alt="">
                        </div>
                        <div class="username">
                            <span>Ina Perry</span>
                        </div>
                    </div>
                    <div class="online-time">
                        <div class="stat-time">
                            <div class="status"></div>
                            <span class="time">12:20</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-online-send-messages">
                <div class="container-online-user">
                    <div class="user">
                        <div class="avatar">
                            <img src="../asset/media/images/boatkarim.png" alt="">
                        </div>
                        <div class="name">Nom de l'utilisateur</div>
                        <div class="status"></div>
                    </div>
                </div>

                <div class="message-container">
                    <div class="message sent">
                        <p>hello Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quam cupiditate
                            unde
                            reiciendis atque corrupti impedit. Distinctio </p>
                    </div>
                    <div class="message received">
                        <p>hey Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti veritatis non
                            dicta,
                            cumque quo doloribus illum exercitationem consequatur maxime sunt, temporibus enim
                            consequuntur omnis dignissimos modi, nihil ea deserunt laudantium?</p>
                        <i id="heart" class="heart fa-regular fa-heart"></i>
                    </div>
                    <div class="message sent">
                        <p>ca va ?</p>
                    </div>
                    <div class="message received">
                        <p>oui et toi ?</p>
                    </div>
                    <div class="message sent">
                        <p>ca va ?</p>
                    </div>
                    <div class="message sent">
                        <p>ca va ?</p>
                    </div>
                    <div class="message sent">
                        <p>ca va ?</p>
                    </div>
                </div>
                <form class="message-form">
                    <div class="file-input-container">
                        <input type="file" id="file-input">
                        <label for="file-input" class="file-input-label">
                            <i class="fas fa-file"></i>
                        </label>
                    </div>
                    <textarea id="message-input" placeholder="Votre message"></textarea>
                    <button id="send-button">Envoyer</button>
                </form>
            </div>
        </div>
    </section>

    <!-- section homePage gallery-grid -->

    <!-- footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-limit-size">
                <div class="footer-container-help">
                    <div class="logo-footer">
                        <span><a href="#" class="footer-logo-span">2023 GiteFinder, Inc</a></span>
                    </div>
                    <!-- newsletter -->
                    <div class="container-newsletter">
                        <form action="" id="form-newsletter">
                            <label for="newsletter" id="label-newsletter">Newsletter</label>
                            <input type="text" id="input-newsletter">
                            <button type="submit" id="footer-submit-button">envoyer</button>
                        </form>
                    </div>

                    <span class="footer-span-ol">
                        <ol>
                            <li class="footer-li"><a href="#">Confidentialité</a></li>
                            <li class="footer-li"><a href="#">Conditions générales</a>
                            </li>
                            <li class="footer-li"><a href="#">Infos sur l'entreprise</a></li>
                        </ol>
                    </span>
                </div>

                <div class="container-footer-language-devise-help">

                    <div class="footer-button">
                        <span class="footer-button-span"> Francais</span>
                        <div class="footer-button">
                            <span class="footer-button-span">€</span>
                            <span class="footer-button-span">EUR</span>
                        </div>
                    </div>

                    <div class="footer-button-asistance" id="openModalButton">
                        <span class="footer-button-span">Assistance et ressources</span>
                        <img class="footer-img" src="../asset/media/icon/hate.svg" alt="hat">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-mobile">
            <div class="mobile-footer-explore">
                <img src="../asset/media/icon/magnifying-glass-solid.svg" alt="" class="footer-img">
                <P class="txt-footer">Explorer</P>
            </div>
            <div class="mobile-footer-favoris">
                <img src="../asset/media/icon/coeur (1).png" alt="Favoris" class="footer-img">
                <P class="txt-footer">Favoris</P>
            </div>
            <div class="mobile-footer-user">
                <img src="../asset/media/icon/user-solid.svg" alt="" class="footer-user">
                <p class="txt-footer">Connection</p>
            </div>
        </div>

        <!-- <button id="openModalButton">Ouvrir la modal</button> -->

        <div id="modal" class="modal">

            <div class="modal-content">
                <img class="close-footer" src="../asset/media/icon/x-solid.svg" alt="close">
                <div class="footer-modal-ul">
                    <ul class="link-list">
                        <h3><a href="#">Assistance</a></h3>
                        <li><a href="#">Centre d'aide</a></li>
                        <li><a href="#">AirCover</a></li>
                        <li><a href="#">Soutenir les personnes en situation de handicap</a></li>
                        <li><a href="#">Options d'annulation</a></li>
                        <li><a href="#">Nos mesures face au Covid-19</a></li>
                        <li><a href="#">Signaler un problème de voisinage</a></li>
                    </ul>
                </div>
                <ul class="link-list">
                    <li><a href="#">Communauté</a></li>
                    <li><a href="#">Airbnb.org : réponse aux catastrophes</a></li>
                    <li><a href="#">Lutte contre la discrimination</a></li>
                </ul>
                <ul class="link-list">
                    <li><a href="#">Accueil de voyageurs</a></li>
                    <li><a href="#">Mettez votre logement sur Airbnb</a></li>
                    <li><a href="#">AirCover pour les hôtes</a></li>
                    <li><a href="#">Ressources pour les hôtes</a></li>
                    <li><a href="#">Forum de la communauté</a></li>
                    <li><a href="#">Accueillir de manière responsable</a></li>
                </ul>
                <ul class="link-list">
                    <li><a href="#">GiteFinder</a></li>
                    <li><a href="#">Newsroom</a></li>
                    <li><a href="#">En savoir plus sur les nouveautés</a></li>
                    <li><a href="#">Lettre de nos fondateurs</a></li>
                    <li><a href="#">Carrières</a></li>
                    <li><a href="#">Investisseurs</a></li>
                    <li><a href="#">Cartes cadeaux</a></li>
                </ul>
            </div>
        </div>


    </footer>
</body>
<!-- new script -->
<script src="../asset/js/filePreview.js"></script>




<!-- dayzmoon END -->
<script src="../asset/js/main.js"></script>
<script src="../asset/js/like-heart.js"></script>
<script src="../asset/js/modal-footer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="../asset/js/calendrier.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>


</html>