{% extends "template.html.twig" %}

{% block title %}Messageries
{% endblock %}


{% block header %}
	{% include 'header.html.twig'%}
{% endblock %}

{% block content %}
	<section
		class="messenger ">
		<!-- fil d'ariane  breadcrumb -->
		<nav class="breadcrumb" aria-label="breadcrumb">
			<ol class="ol-breadcrumb">

				<li class="breadcrumb-item">

					<a href="{{ path('dashboard') }}">
						&#x3008; Dashboard</a>
				</li>


			</ol>
		</nav>
		<div
			class="container-messenger">

			<!-- search and contact -->
			<div class="search-message-contact">
				<div class="search">
					<div class="icon-search">
						<img src="../asset/media/icon/magnifying-glass-solid.svg" alt="icon search">
					</div>
					<div class="input-search">
						<input type="search" name="search" id="search" placeholder="Search in Messages">
					</div>
					<div class="icon-search">
						<img src="../asset/media/icon/search-fleche.svg" alt="fleche search">
					</div>

				</div>
				<!-- message with contact -->
				<div class="card-message">
					<div class="picture-username">
						<div class="picture-message">
							<img class="avatar" src="../asset/media/images/boatkarim.png" alt="">
						</div>
						<div class="username">
							<span>Ina Perry</span>
						</div>
					</div>
					<div class="online-time">
						<div class="stat-time">
							<div class="status"></div>
							<span class="time">12:20</span>
						</div>
					</div>
				</div>

			</div>
			<div class="user-online-send-messages">
				<div class="container-online-user">
					<div class="user">
						<div class="avatar">
							<img src="../asset/media/images/boatkarim.png" alt="">
						</div>
						<div class="name">Nom de l'utilisateur</div>
						<div class="status"></div>
					</div>
				</div>

				<div class="message-container">
					<div class="message sent">
						<p class='p-message'>hello Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quam cupiditate reiciendis atque corrupti impedit. Distinctio
						</p>
					</div>
					<div class="message received">
						<p class='p-message'>hey Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti veritatis nondict cumque quo doloribus illum exercitationem consequatur maxime sunt, temporibus consequuntur omnis dignissimos modi, nihil ea deserunt laudantium?</p>
						<i id="heart" class="heart fa-regular fa-heart"></i>
					</div>

				</div>
				<form class="message-form">
					<div class="file-input-container">
						<input type="file" id="file-input">
						<label for="file-input" class="file-input-label">
							<i class="fas fa-file"></i>
						</label>
					</div>
					<textarea id="message-input" placeholder="Votre message"></textarea>
					<button id="send-button">Envoyer</button>
				</form>
			</div>
		</div>
	</section>
{% endblock %}
