{% extends "template.html.twig" %}

{% block title %}
	Post
{% endblock %}


{% block header %}
	{% include 'header.html.twig' with {'categories' : cats } %}
{% endblock %}

{% block content %}


	<section class="article">
		<div class="container-article-img">
			<div class="title-article">
				<h1 class="h1-title-article">Cabane perchée à 5 m, "l'Asiatique"</h1>
			</div>
			<div class="rating-comment-location-share-like">
				<div class="rating">
					<img src="../asset/media/images/etoile.svg" alt="rating">
					<span>4.83</span>
				</div>
				<div class="comment">
					<span>64</span>
					<span>commentaires</span>
				</div>
				<div class="location">
					<span>Chamigny, Île-de-France, France</span>
				</div>
				<div class="share">
					<img class="img-share sharePopup" src="../asset/media/images/Font_Awesome_5_solid_share.svg.png" alt="share article" onclick="toggleSharePopup()">
					<button class="share-button" onclick="toggleSharePopup()">Partager
						<!-- Bouton de Partage avec Icônes -->
						<div class="share-popup" id="sharePopup">
							<img class="icon-img" src="../asset/media/images/facebook.png" alt="Facebook" onclick="shareOnFacebook()">
							<img class="icon-img" src="../asset/media/images/twitter.svg" alt="Twitter" onclick="shareOnTwitter()">
							<img class="icon-img" src="../asset/media/images/instagram.png" alt="LinkedIn" onclick="shareOnLinkedIn()">
						</div>
					</button>
				</div>
			</div>
			<div class="img-article">
				<img src="../asset/media/images/chalet-foret-nuit.jpg" alt="">
			</div>
		</div>

		<!-- profil-content-reservation-map -->
		<div class="profil-content-reservation-map">
			<div
				class="row-limit-size-flex">
				<!-- profil-article-content -->
				<div class="profil-article">
					<div class="profil-user-article">
						<div class="img-profil">
							<img src="../asset/media/images/instagram.svg" alt="">
						</div>
						<div class="profil-span">
							<span>Proposé par
								<span class="profil-user">Zen</span>
							</span>
							<span class="date-profil">Membre depuis
								<span>janvier 2019</span>
							</span>
						</div>
						<button id="btn-profil">Contacter l'hôte</button>
					</div>
					<!-- content-article -->
					<div class="content-article">
						<div class="title-star-rating">
							<div class="title-article">
								<h1 class="h1-title-article">Cabane perchée</h1>
								<h2 class="h2-content-article">2 voyageurs · 1 lit · Demi-salle de bain</h2>
							</div>
							<div class="star-rating">
								<div class="rating-img">
									<img src="../asset/media/images/etoile.svg" alt="star rating" class="rating-img">
									<img src="../asset/media/images/etoile.svg" alt="star rating" class="rating-img">
									<img src="../asset/media/images/etoile.svg" alt="star rating" class="rating-img">
									<img src="../asset/media/images/etoile.svg" alt="star rating" class="rating-img">
									<img
									src="../asset/media/images/etoile.svg" alt="star rating" class="rating-img">
								{# <span class="rating-text">4.83 (64 avis)</span> #}
								</div>
							</div>
						</div>
						<div class="description-article">
							<p class="p-description-article">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et gravida ligula, vel gravida odio. Nulla facilisi. Mauris pharetra libero nec tellus laoreet, eget maximus nunc posuere. Sed tristique, purus a scelerisque ultrices, tortor erat commodo velit, at ullamcorper risus turpis in ex. Donec sed massa ligula. Suspendisse potenti. Ut auctor condimentum arcu id consequat. Sed a ligula id nisl consectetur elementum. Aliquam vitae elementum dolor, at feugiat lorem.</p>
						</div>
						<div class="amenities-article">
							<h3 class="h3-article">Équipements</h3>
							<ul class="ul-article">
								<li class="li-article">Wi-Fi</li>
								<li class="li-article">Cuisine</li>
								<li class="li-article">Chauffage</li>
								<li class="li-article">Parking gratuit</li>
								<li class="li-article">Animaux autorisés</li>
								<li class="li-article">Fumeurs autorisés</li>
							</ul>
							<button class="btn-show-more">Afficher plus</button>
						</div>
					</div>
				</div>
				<!-- reservation-map -->
				<div class="reservation-map">
					<div class="reservation">
						<div class="price">
							<span>Prix par nuit :</span>
							<span class="price-value">100 €</span>
						</div>
						<div class="rating-reservation">
							<div class="rating">
								<img src="../asset/media/images/etoile.svg" alt="rating">
								<span>4.83</span>
							</div>
							<div class="comment">
								<span>64</span>
								<span>commentaires</span>
							</div>
						</div>
						<div class="btn-reservation">
							<button class="btn-reserve">Réserver</button>
						</div>
						<div class="availability">
							<span>Disponible du 12 juin au 20 juin</span>
						</div>
					</div>
					<div
						class="map"><!-- Google Maps intégré ici -->
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
