{% extends "template.html.twig" %}

{% block title %}
	Formulaire de location
{% endblock %}

{% block header %}
	{% include 'header.html.twig' with {'categories' : cats } %}
{% endblock %}
{% block content %}
	<section class="addrental">
		<nav class="breadcrumb" aria-label="breadcrumb">
			<ol class="ol-breadcrumb">

				<li class="breadcrumb-item">

					<a href="{{ path('dashboard') }}">
						&#x3008; Dashboard</a>
				</li>


			</ol>
		</nav>
		{# container propriete #}
		<div class="container-propriete">
			<div class="btn-add">
				<button id="btn-add">Ajouter un bien</button>
			</div>
			<div class="container-card-property">

				<div class="card">
					<div class="img-card">
						<img src="../asset/media/images/chalet-foret-nuit.jpg" alt="chavaren foret" class="size-img">

					</div>
					<div class="content-card">
						<div class="title-prince">
							<div class="h1-title-card">
								<h1>Paradise Beach, Bantayan Island
								</h1>
							</div>
							<div class="prince">

								<span>150</span>
								<span>€</span>
							</div>
						</div>
						<div class="location-card">
							<span class="city">Rome</span>
							<span>,</span>
							<span class="country">Italy</span>
						</div>


					</div>
				</div>
			</div>
		</div>


	</section>

{% endblock %}
